<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drone Configurations</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Configurations</h1>

    <!-- Hidden Dropdown for Advanced Configurations -->
    <div style="margin-top: 10px;">

        <!-- Dropdown Trigger -->
        <button id="toggle-advanced-configs">Advanced Configurations</button>

        <form id="config-form">
            <div id="advanced-configs" style="display: none; margin-top: 10px;">
                <label for="command">Commands:</label><br>
                <textarea id="command" name="command" 
                    placeholder="Enter commands here..." 
                    rows="5" cols="40">{{ configurations['command'] }}</textarea><br>
                <label for="default_height">Default Height:</label><br>
                <input type="text" id="default_height" name="default_height" 
                    value="{{ configurations['config']['default_height'] }}" 
                    placeholder="e.g., 1.0" /><br>
                <label for="default_velocity">Default Velocity:</label><br>
                <input type="text" id="default_velocity" name="default_velocity" 
                    value="{{ configurations['config']['default_velocity'] }}" 
                    placeholder="e.g., 0.2" /><br>
                <label for="default_hold_time">Default Hold Time:</label><br>
                <input type="text" id="default_hold_time" name="default_hold_time" 
                    value="{{ configurations['config']['default_hold_time'] }}" 
                    placeholder="e.g., 2.0" /><br>
                <!-- <label for="default_yaw_rate">Default Yaw Rate:</label><br>
                <input type="text" id="default_yaw_rate" name="default_yaw_rate" 
                    value="{{ configurations['config']['default_yaw_rates'] }}" 
                    placeholder="e.g., 72.0" /><br> -->
            </div>
            
            <button type="submit">Apply Configurations</button>
        </form>
        <!-- Notification Area -->
        <div id="notification">
            <span id="notification-message"></span>
            <span>&nbsp&nbsp&nbsp</span>
            <span id="close-notification">&times;</span>
        </div>

        
    </div>

    <!-- Link to external JavaScript file -->
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
