body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f9;
    color: #333;
}

h1 {
    color: #0066cc;
    font-size: larger;
}

form {
    margin-top: 10px;
}

label {
    margin-top: 20px;
}

input[type="text"] {
    padding: 5px;
    margin-right: 10px;
}

button {
    padding: 5px 10px;
    background-color: #0066cc;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #2e92f6;
}

#notification {
    background-color: #0ec992;
    color: rgba(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    display: none; /* Initially hidden */
    font-size: 16px;
    width: max-content;
}

#notification .close-btn {
    top: 5px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 20px;
}
