body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    color: #333;
}

h1 {
    color: #0066cc;
    font-size: larger;
}

form {
    margin-top: 10px;
}

label {
    margin-top: 20px;
}

input[type="text"] {
    padding: 5px;
    margin-right: 10px;
}

button {
    padding: 5px 10px;
    background-color: #0066cc;
    transition: opacity 0.3s ease;
    color: white;
    border: none;
    cursor: pointer;
}

#toggle-advanced-configs {
    transition: opacity 0.3s ease;
    background-color: #333;
}

#toggle-advanced-configs:hover {
    opacity: 0.5;
}

button:hover {
    opacity: 0.5;
}

#notification {
    background-color: #0066cc;
    color: rgba(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    display: none; /* Initially hidden */
    font-size: 16px;
    width: max-content;
}

#notification .close-btn {
    top: 5px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 20px;
}

#config-display {
    display: none;
}

#crazy-start {
    background-color: #0ec992;
    transition: opacity 0.3s ease;
    margin-top: 10px;
    font-size: larger;
}

#crazy-start:hover {
    opacity: 0.5;
    margin-top: 10px;
    font-size: larger;
}

#operation-display {
    display: none;
}

#operation-button {
    transition: opacity 0.3s ease;
    font-size: larger;
}

#operation-button:hover {
    opacity: 0.5;
}

/* Basic styling for a cleaner look */
input[type="checkbox"] {
    width: 15px;
    height: 15px;
}

form#bullet-form label {
    display: block;
    margin: 5px 0;
}
  
input[type="radio"] {
    margin-right: 10px;
}

img.pixelated {
    image-rendering: pixelated; /* Keeps the image pixelated */
    image-rendering: crisp-edges; /* Fallback for older browsers */
    width: 150px; /* Scale up the image */
    height: 150px; /* Scale up the image */
    display: block;
}