body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f9;
    color: #333;
}

h1 {
    color: #0066cc;
    font-size: larger;
}

form {
    margin-top: 10px;
}

label {
    margin-top: 20px;
}

input[type="text"] {
    padding: 5px;
    margin-right: 10px;
}

button {
    padding: 5px 10px;
    background-color: #0066cc;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #2e92f6;
}
